.root {
    width: 100%;
    display: flex;
    overflow-x: auto;
    flex-shrink: 0;
    background-color: var(--mantine-color-slate-8);
    border-top: 1px solid var(--mantine-color-dark-4);
    padding-bottom: env(safe-area-inset-bottom);
}

.link {
    flex: 1;
    text-decoration: none;
    color: var(--mantine-color-dimmed);
    font-size: 0.75rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;
    padding-left: var(--mantine-spacing-sm);
    padding-right: var(--mantine-spacing-sm);
    padding-top: var(--mantine-spacing-xs);
    padding-bottom: var(--mantine-spacing-xs);

    &[data-active="true"] {
        background-color: var(--mantine-primary-color-filled);
        color: var(--mantine-primary-color-contrast);
    }

    svg {
        width: 1.5em;
        height: 1.5em;
    }
}