.games {
    background-color: var(--mantine-color-slate-8);
    display: flex;
    flex-direction: column;
    border-radius: var(--mantine-radius-md);
    margin-top: var(--mantine-spacing-xs);
}

.game {
    &:not(:last-child) {
        border-bottom: 1px solid var(--mantine-color-dark-4);
    }
}