* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    color: white;
    background-color: #0d0a08;
    background-image: url('/StreetChampzUSE.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
